assets/make-scenario-2-group-welcome.json
{
  "name": "SIINDEX — Telegram Group Member Welcome",
  "flow": [
    {
      "id": 1,
      "module": "telegram-bot-api:getUpdates",
      "version": 1,
      "parameters": {
        "connection": "REPLACE: add your SIINDEXbot connection after import",
        "updates": ["message", "chat_member"]
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 150 },
        "notes": "Watches for new members joining. Set the Citizens group chat_id in the filter."
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.message.new_chat_members}}"
      },
      "metadata": {
        "designer": { "x": 200, "y": 150 },
        "notes": "Iterates over each new member in the event"
      }
    },
    {
      "id": 3,
      "module": "telegram-bot-api:sendMessage",
      "version": 1,
      "parameters": {
        "connection": "REPLACE: add your SIINDEXbot connection after import"
      },
      "mapper": {
        "chat_id": "REPLACE_WITH_CITIZENS_GROUP_CHAT_ID",
        "text": "Welcome to IN$DEX Citizens, @{{2.username}} 🌐\n\nStart here → imagenationdex.com\nClaim your address: *[yourname].IN$DEX*\n\nOne rule: respect every citizen.\nOne fee: 2%. That's all. Forever.\n\nAsk anything — the community answers.\n\n— SIINDEX",
        "parse_mode": "Markdown",
        "disable_notification": false
      },
      "metadata": {
        "designer": { "x": 400, "y": 150 }
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "us2.make.com"
  }
}
